Repository RustBlockchainEngineer/unloc-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:prettier, yarn lint:eslint

fix: small fix for accepted offers lightbox
  components/lightboxes/acceptOffer.tsx
Due: yarn lint:prettier, yarn lint:eslint

small eslint for fix hooks folder files
  .eslintignore
  hooks/useClipboard.tsx
Due: yarn lint:prettier, yarn lint:eslint

eslint fixes and a bit of refactoring for constants folder
  .eslintignore
  components/layout/footer.tsx
  constants/config.ts
  constants/currency-constants.ts
  constants/currency.ts
  constants/icons/icons.ts
  constants/locales.ts
  constants/most-used-structures.ts
  constants/offerStatuses.ts
  packages/eslint/.eslintrc.addon.typescript.json
  stores/LoanActionStore.tsx
Due: yarn lint:prettier, yarn lint:eslint

Update config.ts
  constants/config.ts
Due: yarn lint:prettier, yarn lint:eslint

Make the walletKey optional
  components/offersPage/offersTable.tsx
  methods/transformOffersData.ts
Due: yarn lint:prettier, yarn lint:eslint

Maintain sorting after filtering the table
  components/offersPage/offersTable.tsx
Due: yarn lint:prettier, yarn lint:eslint

Remove compare function duplication
  components/offersPage/offersTable.tsx
Due: yarn lint:prettier, yarn lint:eslint

Fixed loan offer lightbox not submitting without duration change
  components/lightboxes/createLoan/createLoan.tsx
Due: yarn lint:prettier, yarn lint:eslint

fix
  .husky/pre-push
  components/lightboxes/createLoan/createLoan.tsx
Due: yarn lint:prettier, yarn lint:eslint

changes according to figma redesign
  .yarnrc.yml
  components/layout/layoutTopMobile.tsx
  components/layout/userToolbox.tsx
  styles/mobile/_menuShowButton.scss
  yarn.lock
Due: yarn lint:prettier, yarn lint:eslint

almost finished
  components/layout/layoutTopMobile.tsx
  components/layout/topMenu.tsx
  components/layout/userToolbox.tsx
  styles/mobile/_layoutTopMobile.scss
Due: yarn lint:prettier, yarn lint:eslint

Allow filter inputs to be cleared completely (#126)
  components/filters/filter.tsx
  methods/validators/filterValidator.ts
  stores/Offers.store.tsx
  styles/_filter.scss
Due: yarn lint:prettier, yarn lint:eslint

Improvements on the Loans Given page (#127)
  components/myOffers/myLendingList.tsx
  package.json
  pages/_app.tsx
  styles/loansGiven/_myLendingList.scss
  utils/timeUtils/timeUtils.ts
  yarn.lock
Due: yarn lint:prettier, yarn lint:eslint

Remove pre-push hook
  .husky/pre-push
Due: none

changed hamburger to match figma
  components/layout/layoutTopMobile.tsx
  components/layout/menuShowButton.tsx
  components/layout/topMenu.tsx
  components/layout/userToolbox.tsx
  styles/_layoutTop.scss
  styles/_themes.scss
  styles/_walletAdapter.scss
  styles/footer/_footer.scss
  styles/main.scss
  styles/mobile/_footerMobile.scss
  styles/mobile/_layoutTopMobile.scss
  styles/mobile/_menuShowButton.scss
  styles/mobile/offersPage/_offersTopMobile.scss
  styles/offersPage/_offersTop.scss
  yarn.lock
Due: yarn lint:prettier, yarn lint:eslint

fixing errors
  components/layout/layoutTop.tsx
  components/layout/menuShowButton.tsx
  components/layout/userToolbox.tsx
Due: yarn lint:prettier, yarn lint:eslint

Feat/mobile styling (#131)
  components/layout/layoutTopMobile.tsx
  pages/_app.tsx
  pages/index.tsx
  styles/_layoutTopMobile.scss
  styles/_menuShowButton.scss
  styles/_selects.scss
  styles/_themes.scss
  styles/footer/_footer.scss
  styles/main.scss
  styles/offersPage/_offersTop.scss
Due: yarn lint:prettier, yarn lint:eslint

fixes
  yarn.lock
Due: none

fixes
  .yarnrc.yml
Due: none

fix
  yarn.lock
Due: none

fix?
  package.json
  yarn.lock
Due: yarn lint:prettier

Changed theme switcher according to Figma (#129)
  components/layout/switchButton.tsx
  components/layout/userToolbox.tsx
  components/lightboxes/createLoan/createLoan.tsx
  public/icons/theme-moon-icon-light.svg
  public/icons/theme-sun-icon-dark.svg
  styles/_icons.scss
  styles/_switchButton.scss
Due: yarn lint:prettier, yarn lint:eslint

fix: - collection name at loansGiven page
  components/loans-given/myLendingList.tsx
  pages/loans-given/index.tsx
  stores/MyOffers.store.tsx
Due: yarn lint:prettier, yarn lint:eslint

fix: - collection name at loansGiven page
  stores/MyOffers.store.tsx
Due: yarn lint:prettier, yarn lint:eslint

eslint: added cahing
  package.json
Due: yarn lint:prettier

eslint: added cahing
  .eslintrc.json
  .gitignore
  components/storeDataAdapter.tsx
  package.json
  packages/eslint/.eslintrc.addon.jest.json
  packages/eslint/.eslintrc.addon.typescript.json
  packages/eslint/.eslintrc.base.json
Due: yarn lint:prettier, yarn lint:eslint

fix: - collection name at loansGiven page
  components/loans-given/loansList.tsx
  pages/loans-given/index.tsx
Due: yarn lint:prettier, yarn lint:eslint

resolved conflicts
  styles/_layoutTopMobile.scss
  styles/_menuShowButton.scss
  styles/mobile/_layoutTopMobile.scss
Due: yarn lint:prettier

Changes based on review
  styles/mobile/_layoutTopMobile.scss
Due: yarn lint:prettier

css flex fix
  styles/mobile/_footerMobile.scss
Due: yarn lint:prettier

filters fixed
  components/offersPage/offersTop.tsx
  styles/mobile/offersPage/_offersTopMobile.scss
  styles/offersPage/_offersTop.scss
Due: yarn lint:prettier, yarn lint:eslint

Crashes if collection is null
  components/lightboxes/chooseCollateral/collateralItem.tsx
Due: yarn lint:prettier, yarn lint:eslint

implemented collection search bar, some refactoring
  components/layout/customMultiSelect.tsx
  components/offersPage/filtersRow.tsx
  components/singleOffer/Offer/Offer.tsx
  pages/index.tsx
  pages/offers/[id].tsx
  public/icons/search-icon.svg
  stores/Lightbox.store.tsx
  styles/_filter.scss
  styles/_selects.scss
  styles/_themes.scss
  styles/_variables.scss
Due: yarn lint:prettier, yarn lint:eslint

fix: lightbox.store acceptOfferData: missing props from type err fixed
  stores/Lightbox.store.tsx
Due: yarn lint:prettier, yarn lint:eslint

Fixed sun and moon peeking from behind the theme switcher (#139)
  components/layout/switchButton.tsx
  pages/offers/[id].tsx
  styles/_switchButton.scss
Due: yarn lint:prettier, yarn lint:eslint

fix: removed unnecessary line break
  pages/offers/[id].tsx
Due: yarn lint:prettier, yarn lint:eslint

fix: fixed bug when collections are not loaded
  components/layout/customMultiSelect.tsx
Due: yarn lint:prettier, yarn lint:eslint

fix: fixed reset button styles according to design
  components/layout/customMultiSelect.tsx
  styles/_selects.scss
Due: yarn lint:prettier, yarn lint:eslint

fix: fix for search in string
  components/layout/customMultiSelect.tsx
Due: yarn lint:prettier, yarn lint:eslint

More allowed domains
  next.config.js
Due: none

Path conditions:
  yarn lint:prettier: any of: *.{css,scss,ts,tsx,html,json}
  yarn lint:eslint: any of: *.{ts,tsx}
