Repository RustBlockchainEngineer/unloc-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:prettier, yarn lint:eslint

.lintstagedrc.json:

{
  "*.{css,scss,ts,tsx,html,json}": ["yarn lint:prettier"],
  "*.{ts,tsx}": ["yarn lint:eslint"]
}

feat: relock lightbox. changes in the buttons list (#203)
  components/layout/layoutTop.tsx
  components/lightboxes/Staking/staking-actions.tsx
  components/profile/stakeAccount/stakeRow.tsx
  stores/Lightbox.store.tsx
Due: yarn lint:prettier, yarn lint:eslint

add: earned so far
  utils/spl/unloc-score.ts
Due: yarn lint:prettier, yarn lint:eslint

add: getTotalTokens function (#202)
  utils/spl/unloc-score.ts
Due: yarn lint:prettier, yarn lint:eslint

fix: new eslint config
  .eslintignore
  .eslintrc.json
  lerna.json
  package.json
  packages/eslint/.eslintrc.addon.typescript.json
  packages/eslint/.eslintrc.base.json
  packages/eslint/package.json
  yarn.lock
Due: yarn lint:prettier

Removed lerna + eslint config, only using next/core-web-vitals
  .eslintrc.json
  .npmpackagejsonlintrc.json
  constants/config.ts
  hooks/useCollectionName.ts
  lerna.json
  package.json
  packages/eslint/.eslintrc.addon.typescript.json
  packages/eslint/.eslintrc.base.json
  packages/eslint/package.json
  pages/api/auth.ts
  pages/api/hello.ts
  pages/offers/[id].tsx
  yarn.lock
Due: yarn lint:prettier, yarn lint:eslint

not necessary anymore
  hooks/useOffChainMetadata.ts
  hooks/useSendTransaction.ts
  hooks/useUserScore.ts
Due: yarn lint:prettier, yarn lint:eslint

tweetnacl is required to build on vercel?
  package.json
  yarn.lock
Due: yarn lint:prettier

fix: fixing eslint errors
  .eslintignore
  components/lightboxes/Loan/loanDetails.tsx
  hooks/useSendTransaction.ts
  hooks/useUserScore.ts
Due: yarn lint:prettier, yarn lint:eslint

fix: turned off @typescript-eslint/explicit-function-return-type
  .eslintrc.json
Due: yarn lint:prettier

attempt
  components/lightboxes/Staking/create.tsx
  components/lightboxes/Staking/staking-actions.tsx
  components/profile/stakeAccount/stakeRow.tsx
  hooks/usePoolInfo.ts
  package.json
  utils/spl/unloc-score.ts
  utils/spl/unloc-staking.ts
  utils/spl/unloc-voting.ts
  yarn.lock
Due: yarn lint:prettier, yarn lint:eslint

add: integration files, fix: errors
  components/lightboxes/AcceptOffer/index.tsx
  components/lightboxes/Collateral/createCollateral.tsx
  components/lightboxes/LendConfirm/index.tsx
  components/lightboxes/Loan/confirmLoan.tsx
  components/lightboxes/Loan/createLoan.tsx
  hooks/offerActionsHook.ts
  next-env.d.ts
  package.json
  utils/spl/common.ts
  utils/spl/unloc-constants.ts
  utils/spl/unloc-liq-mining.ts
  utils/spl/unloc-loan.ts
  utils/spl/unloc-staking.ts
  utils/spl/unloc-voting.ts
  yarn.lock
Due: yarn lint:prettier, yarn lint:eslint

changed the useSendTransaction interface, added program ids, eslint rule
  .eslintrc.json
  components/lightboxes/Staking/create.tsx
  components/lightboxes/Staking/staking-actions.tsx
  components/profile/header/actions.tsx
  components/profile/header/level.tsx
  components/profile/stakeAccount/stakeRow.tsx
  components/vote/votingView.tsx
  constants/config.ts
  hooks/useSendTransaction.ts
  next-env.d.ts
  styles/main.scss
Due: yarn lint:prettier, yarn lint:eslint

Removed the request logger
  hooks/useStakingAccounts.ts
Due: yarn lint:prettier, yarn lint:eslint

Skip preflight checks toggle
  components/lightboxes/Staking/create.tsx
  components/walletButton/DropdownList.tsx
  hooks/useSendTransaction.ts
  stores/GlobalState.store.tsx
Due: yarn lint:prettier, yarn lint:eslint

fix: param of getUserStakingsKey
  utils/spl/unloc-staking.ts
Due: yarn lint:prettier, yarn lint:eslint

feat: updates on staking UI
  components/profile/stakeAccount/stakeRow.tsx
  styles/_icons.scss
  styles/profilePage/_stakerow.scss
  utils/spl/unloc-staking.ts
Due: yarn lint:prettier, yarn lint:eslint

realloc, some fixes
  components/lightboxes/Staking/create.tsx
  components/profile/header/level.tsx
  components/profile/stakeAccount/stakeRow.tsx
  components/profile/stakeRows.tsx
  utils/spl/unloc-staking.ts
  utils/toast-error-handler.ts
Due: yarn lint:prettier, yarn lint:eslint

fixes
  components/lightboxes/Staking/create.tsx
  components/lightboxes/Staking/staking-actions.tsx
  components/profile/header/actions.tsx
  components/profile/stakeAccount/stakeRow.tsx
  package.json
  yarn.lock
Due: yarn lint:prettier, yarn lint:eslint

test 1
  components/profile/header/actions.tsx
  components/profile/stakeAccount/stakeRow.tsx
Due: yarn lint:prettier, yarn lint:eslint

test 2
  components/profile/stakeAccount/stakeRow.tsx
Due: yarn lint:prettier, yarn lint:eslint

notification
  components/profile/stakeAccount/flexiStakeRow.tsx
  hooks/useStakingAccounts.ts
Due: yarn lint:prettier, yarn lint:eslint

bring back exitAmount temporarily
  components/profile/stakeAccount/stakeRow.tsx
Due: yarn lint:prettier, yarn lint:eslint

flexi deposit lightbox, live updating unloc balance
  components/layout/layoutTop.tsx
  components/lightboxes/Staking/depositFlexi.tsx
  components/lightboxes/Staking/staking-actions.tsx
  components/profile/stakeAccount/flexiStakeRow.tsx
  hooks/useAccountChange.tsx
  stores/Lightbox.store.tsx
Due: yarn lint:prettier, yarn lint:eslint

tw config
  package.json
  postcss.config.js
  tailwind.config.js
  yarn.lock
Due: yarn lint:prettier

feat: updates on staking UI
  .eslintignore
  components/profile/stakeAccount/stakeRow.tsx
  styles/profilePage/_stakerow.scss
Due: yarn lint:prettier, yarn lint:eslint

feat: updates on staking UI
  public/icons/rise-reward.svg
Due: none

update: integration files with latest changes
  package.json
  utils/spl/unloc-liq-mining.ts
  utils/spl/unloc-staking.ts
  yarn.lock
Due: yarn lint:prettier, yarn lint:eslint

yarn wtf
  yarn.lock
Due: none

re-run yarn
  yarn.lock
Due: none

update: loan integration file
  utils/spl/unloc-loan.ts
Due: yarn lint:prettier, yarn lint:eslint

update: loan integration file
  package.json
  yarn.lock
Due: yarn lint:prettier

Tailwind setup, dark mode
  pages/_app.tsx
  stores/Interface.store.tsx
  styles/main.scss
Due: yarn lint:prettier, yarn lint:eslint

Adding back changes from pr #214
  components/profile/stakeAccount/stakeRow.tsx
  styles/_icons.scss
Due: yarn lint:prettier, yarn lint:eslint

fix: "flexi" stake row UI
  styles/profilePage/_stakerow.scss
Due: yarn lint:prettier

Feat/voting (#219)
  components/layout/layoutTop.tsx
  components/lightboxes/vote.tsx
  components/voting/votingPage.tsx
  constants/locales.ts
  hooks/index.ts
  hooks/useCollectionsInfo.ts
  hooks/useVotingSession.ts
  package.json
  pages/_app.tsx
  pages/voting/index.tsx
  stores/Lightbox.store.tsx
  styles/_icons.scss
  styles/_themes.scss
  styles/main.scss
  styles/voting/_voteLightbox.scss
  styles/voting/_votingPage.scss
  types.d.ts
  utils/common.ts
  utils/spl/unloc-staking.ts
  yarn.lock
Due: yarn lint:prettier, yarn lint:eslint

show user's choices if they already voted + remaining time to vote (#220)
  components/layout/layoutTop.tsx
  components/lightboxes/voteChoices.tsx
  components/storeDataAdapter.tsx
  components/voting/VotePieChart.tsx
  components/voting/votingPage.tsx
  hooks/useUserVoteChoices.ts
  pages/_app.tsx
  stores/GlobalState.store.tsx
  stores/Lightbox.store.tsx
  styles/voting/_votingPage.scss
  tailwind.config.js
Due: yarn lint:prettier, yarn lint:eslint

Flexi stake row tailwind (#221)
  components/profile/header/actions.tsx
  components/profile/stakeAccount/flexiStakeRow.tsx
  components/profile/stakeRows.tsx
  styles/main.scss
  styles/profilePage/_header.scss
  styles/profilePage/_stakerow.scss
  tailwind.config.js
Due: yarn lint:prettier, yarn lint:eslint
